typer==0.9.4
torch>=1.7
basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.7
realesrgan>=0.2.5
numpy
opencv-python
torchvision==0.16.0
scipy
tqdm
lmdb
pyyaml
yapf
ffmpeg
ffmpeg-python
yt-dlp
scikit-image
matplotlib
rembg
diffusers
gradio
transformers
accelerate
safetensors
tensorflow
easydict
scikit-learn
joblib
pandas
albumentations==0.5.2
hydra-core
pytorch-lightning
tabulate
kornia==0.5.0
webdataset
packaging
wldhx.yadisk-direct